services:
  planning-poker:
    deploy:
      resources:
        limits:
          memory: 256M
        reservations:
          memory: 128M
    build: .
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - NODE_ENV=production
    restart: unless-stopped
    container_name: planning-poker-app